<template>
       <div
          :class="'wssearch--filter wssearch--slider__' + name.toLowerCase() + ' '+ 'wssearch--slider__' + name.toLowerCase() + '--'+ realval"
          :style="'--slider-val:'+slideval"
        >
         <span 
            class="wssearch--filter-header" 
            
            
          >
            <label>
              {{name.replace(/_/g, " ")}}
            </label>
          </span>
       <span 
        class="wssearch--slider-input"
       >
            <input 
                type="range"
                v-model="slideval"
                />
       <span 
        class="wssearch--slider-input-icon"
       
       >
       </span>
        </span>
         {{realval}}
            <facet-checbox
             :name="name"
             :agg="agg"
             :index="0"
            ></facet-checbox>

        </div>
</template>

<script>
import FacetCheckbox from './FacetCheckbox'

export default {
  components:{
    'facet-checbox':FacetCheckbox
  },
  props:{
    name:String
  },
  data(){
    return {
      slideval:0,
      range:5
    }
  },
  computed:{
        realval(){
            // return Math.round((this.range / 100 * this.slideval) * 10 ) / 10
            return Math.round((this.range / 100 * this.slideval) ) 
        },
         agg(){
            return {key:this.name, from: 0 , to: this.realval, doc_count: 1 }

      }
  }
}
</script>

<style >
 .wssearch--slider-input {
    position: relative;
}
.wssearch--slider-input-icon {
    pointer-events: none;
    position: absolute;
    width: 100%;
    background: linear-gradient( 
        90deg,
        var(--base-color) , 
        var(--base-color) calc(var(--slider-val) * 1%),
        white calc(var(--slider-val) * 1%)
    );
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

</style>
