<template>
      <div class="wssearch--daterange">
        <div class="wssearch--filter-header"  >
            <label>{{labelname}}</label>
          </div>
        {{ $i18n( 'date-range-from' ) }}
         <div id="dateinputfrom">
         </div>
         {{ $i18n( 'date-range-to' ) }}
         <div id="dateinputto">
         </div>
         <facet-checbox
           v-if="showcheckbox"
           :agg="agg"
           :index="0"
           :name="'Modification date'"
         ></facet-checbox>
     </div>
</template>

<script>
import FacetCheckbox from './FacetCheckbox'




  export default {
    mounted(){
           this.dateinputs();
    },
    props:{
      label:String
    },
    components:{
      'facet-checbox':FacetCheckbox
    },
    computed:{
      labelname(){
        return this.label ? this.label : 'Date range'
      }, 
      showcheckbox(){
        if( this.$store.getters.rangeFrom && this.$store.getters.rangeTo){
         return true
         }
         return false
      },
      agg(){
          return {key:'customrange',from: this.$store.getters.rangeFrom , to: this.$store.getters.rangeTo ,doc_count:1 }
      }
    },
    methods:{
      dateinputs(){
            var root = this.$store.state;
            var thiscomponent = this;
            var date = {};
            var dateInput = {};
            var dateinputs = ['from', 'to'];
            
            dateinputs.forEach(element => {
              // eslint-disable-next-line no-undef
                dateInput[element] = new mw.widgets.DateInputWidget();

                if(root.realDates["customrange"]){
                    dateInput[element].setValue(root.realDates["customrange"][element]);
                }
                 
                dateInput[element].on( 'change', function () {

                    date[element] = dateInput[element].getValue();
                    dateInput['to'].mustBeAfter = date['from'];
                    dateInput['from'].mustBeBefore = date['to'];

                     thiscomponent.$store.commit('SET_RANGE_' + element, thiscomponent.createdates(date[element]) + 1);
                    //root['range'+element.charAt(0).toUpperCase() + element.slice(1)] = thiscomponent.createdates(date[element]) + 1; 

                    if(root.rangeTo > 0){
                        var kw = Object.keys(root.selected);

                        var realdates_updated = root.realDates;
                        realdates_updated["customrange"] = {"from": date['from'], "to":  date['to']};

                        thiscomponent.$store.commit('SET_REAL_DATES' , realdates_updated);

                       // Vue.set(root.realDates, "customrange", {"from": date['from'], "to":  date['to']})



                        kw.forEach(function(el, i){
                            if(root.selected[i].value == "customrange"){
                               var te = '';
                                if(element == 'from'){
                                     te = 'gte';
                                }else{
                                     te = 'lte';
                                }
                                var selected_updated = root.selected;

                                selected_updated[i].range[te] = Number(root['range'+element.charAt(0).toUpperCase() + element.slice(1)]+'.0000000');


                              //  selected_updated[i].range["P:29.datField"][te] = Number(root['range'+element.charAt(0).toUpperCase() + element.slice(1)]+'.0000000');
                               
                               
                               
                                thiscomponent.$store.commit('SET_SELECTED' , selected_updated);
                            }

                              //  root.api(0, root.term);
                        })

                    }
                 });
                document.querySelector( '#dateinput'+element ).appendChild( dateInput[element].$element[0] );
            });
    },
    createdates(date){

                        function parseDate(str) {
                            return new Date(str)
                        }

                        function datediff(first, second) {
                            return Math.round((second-first)/(1000*60*60*24));
                        }

                        // 2451544 = 2000- 1- 1
                        var timestamp = 2451544;
                        return datediff(parseDate('2000-01-01'), parseDate(date)) + timestamp;
        }
  }
}
</script>

<style>
.wssearch--daterange .wssearch--checkbox-count, .wssearch--daterange .wssearch--checkbox-title{
  display:none;
}
.wssearch--daterange .wssearch--checkbox{
  display: block;
}
.wssearch--daterange .wssearch--checkbox-input {
    position: relative;
    display: block;
}
.wssearch--daterange .wssearch--checkbox-input-icon {
    width: 100%;
}
</style>
