<template>
        <facet-combobox 
            :buckets="buckets"
            :name="name"
            :label="label"
            @input="ask"
        ></facet-combobox>
</template>

<script>
import FacetCombobox from './FacetCombobox.vue'

  export default {
    name:'FacetAskCombobox',
    components: {
    'facet-combobox':FacetCombobox,
    },
    props:{
        name:String,
        label:String,
        query:Object
    },
    data(){
        return{
            buckets: [{doc_count:1, key:'', show: 'no'}]
        }
    },
    computed:{

    },
    methods:{
        ask(term){

           var outdata =  this.query.data;
           var outlabel = this.query.text;
           var that = this;
           var qask = this.query.ask + '[[in:' + term + ']] |?' + outdata;
           if(outlabel){
               qask += '|?' + outlabel;
           }



           var params = {
            action: 'ask',
            query: qask,
            format: 'json',
            formatversion: 2
          },
          // eslint-disable-next-line no-undef
          api = new mw.Api();

          api.post(  params ).done( function ( data ) {



                    var selected = that.$store.state.selected;
                    var outbuckts =  selected.map(function(el){
                        if(el.key && el.key == that.name){
                        return {key:el.value, doc_count: 1 };
                        }      
                    }).filter((x)=>x)
                    console.log(outbuckts)

                for (const [key, value] of Object.entries(data.query.results)) {

              var outkey = value.printouts[outdata];


                if(outkey){



                outkey = outkey[0].fulltext ? outkey[0].fulltext : outkey[0];

                var buck = {
                    doc_count:1, 
                    key:outkey, 
                    page:key
                }

                if(outlabel && value.printouts[outlabel]){
                    var label = value.printouts[outlabel];
                    buck.label = label[0].fulltext ? label[0].fulltext : label[0];
                }

               
                 outbuckts.push(buck)
                }

          }
            outbuckts.length > 0 ? that.buckets = outbuckts : that.buckets = [{doc_count:1, key:'', show: 'no'}];
             
              
          })



          
        }
    }
  }
</script>