<template>
    <div
      v-if="buckets.length"
      :class="'wssearch--filter wssearch--filter__' + name.toLowerCase().replace(/[^a-z0-9]/gmi, '_')"
    >
      <span 
        class="wssearch--filter-header" 
         
      >
        <label>
          {{filtername}}
        </label>
      </span>
      <div
        class="wssearch--selected-filters__combobox"
      >
        <pill-item
           v-for="(activefilter, index) in pils"
          :key="index"
          :activefilter="activefilter"
        ></pill-item>  
    </div>
     <div class="wssearch--filter-options-search-wrapper">
      <span
        class="wssearch--search-clear wssearch--search-clear__combobox"
        v-if="term"
        tabindex="-1"
        aria-label="Clear"
        role="button"
        @click="clearInput"
        
      >
      </span>
      <input
        type="input"
        :value="term"
        :placeholder="filtername"
        class="wssearch--filter-options-search"
        @input="searchaggs"
      />
 
      
      <div
        class="wssearch--filter-options wssearch--filter-options__combobox"
      >
        <facet-checkbox
          v-for="(agg, i) in buckets"
          :agg="agg"
          :key="i+agg.key+name"
          :index="i"
          :name="name"
        ></facet-checkbox>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'

import PillItem from './PillItem.vue'
import FacetCheckbox from './FacetCheckbox.vue'


export default {
  components:{
    'pill-item':PillItem,
    'facet-checkbox': FacetCheckbox
  },
  props:{
    name:String,
    label:String,
    buckets:[Array, Object]
        },
  methods:{
    searchaggs:function(e){

      

      this.term = e.target.value;
      this.$emit('input', this.term);
      var re = new RegExp( this.term, 'ig' );
      var bucks = this.buckets;
      bucks.forEach(function(agg){
        if(!agg.key.match(re)){
          Vue.set(agg, 'show', 'no')
        }else{
          Vue.set(agg, 'show', 'yes')
        }
      })
    },
    clearInput(){
      this.term = "";
    }
  },
  data(){
    return{
      term:""
    }
  },
  computed:{
    filtername(){
      if(this.label){
        return this.label
      }
      return this.name.replace('_', ' ');
    },
    pils(){
      var root = this;
      var selected = this.$store.state.selected;
      var pilss =  selected.filter(function(el){
        if(el.key == root.name){
          return el;
        }      
      })
      return  pilss;
    }
  }
}
</script>

<style >
 .wssearch--filter-options-search{
       padding: .4em .6em;
 }
   .wssearch--selected-filters__combobox:not(:empty) {
    border: var(--border-1);
    border-bottom: none;
    padding: .2em .2em 0;
    background: var(--tint-1);
    border-radius: .2em .2em 0 0;
    margin-bottom: -1px;
}

.wssearch--filter-options__combobox {
    border: var(--border-1);
    border-top: none;
    position: absolute;
    width: calc(100% - 2px);
    transition: z-index 0s ease .3s, opacity .1s ease .3s;
    z-index: -9;
    opacity: 0;
    border-radius: 0 0 2px 2px;
    max-height: 8em;
    overflow-x: auto;
}

.wssearch--filter-options-search:focus + .wssearch--filter-options__combobox {
    z-index: 1;
    opacity: 1;
}
.wssearch--filter-options-search-wrapper{
  position:relative;
}
.wssearch--filter-options__combobox .wssearch--checkbox{
    background-color: #f8f9fa;
    color: #202122;
    padding-left: 0.85714286em;
    padding-right: 0.85714286em;
    cursor: pointer;
    align-items: center;
    padding-top: 0.42857143em;
    padding-bottom: 0.42857143em;
    display: flex;
}
.wssearch--filter-options__combobox .wssearch--checkbox-title {
    width: 100%;
    padding: 0 .5em;
}

.wssearch--filter-options__combobox .wssearch--checkbox:hover{
    background-color: var(--tint-1);
}
.wssearch--filter-options__combobox .wssearch--checkbox-selected{
    background-color: #eaf3ff;
    color: #36c;
}
.wssearch--filter-options__combobox .wssearch--checkbox.wssearch--checkbox-selected:hover{
    background-color: #f8f9fa;
}

.wssearch--filter-options__combobox .wssearch--checkbox:not(:last-child){
    border-bottom: 1px solid #eaecf0;
}
.wssearch--filter-options__combobox  .wssearch--checkbox-count {
    color: #757575;
}
.wssearch--filter-options__combobox .wssearch--checkbox-count:after {
    content: "";
}

.wssearch--filter-options__combobox .wssearch--checkbox-count:before {
    content: "";
}
</style>