<template>
    <label
      v-show="show"
      class="wssearch--checkbox"
      :class="labelclass"
      aria-disabled="false"
    >
      <span
        class="wssearch--checkbox-input"
        aria-disabled="false"
      >
       <input
          class="wssearch--checkbox-input-checkbox"
          type="checkbox"
          :id="createid"
          v-model="modelSelected"
          :value="val"
          aria-disabled="false"
          tabindex="0"
        >
        <span
          class="wssearch--checkbox-input-icon"
          aria-disabled="false"
        >
        </span>
      </span>
      <span>
       <span class="wssearch--checkbox-title" >{{title}}</span>
       <span class="wssearch--checkbox-count" title="count">{{agg.doc_count}}</span>
      </span>
    </label>
</template>

<script>

 export default {
    name:'facet-checkbox',
    props:{
      agg:Object,
      name:String,
      index:Number,
      },
    computed:{
      modelSelected:{
        set(val){
          this.$store.commit('SET_SELECTED', val)
        },
        get(){
          return this.$store.state.selected
        }
      },
      labelclass(){
        var selectedclass = "";
        var root = this;
       var selected = this.$store.state.selected;
       var matches =  selected.filter(function(el){
        if(el.value == root.agg.key){
          return el;
        }      
      })
        if(matches.length){
          selectedclass = " wssearch--checkbox-selected"
        }
        return "wssearch--checkbox__" + this.name.toLowerCase().replace(/[^a-z0-9]/gmi, '_') +"--"+ this.agg.key.toLowerCase().replace(/[^a-z0-9]/gmi, '_') + selectedclass;
      },
      title(){
        if(this.agg.name){
          return this.agg.name ;
        }else{
          return this.agg.key;
        }
      },
      createid(){
        return this.name.toLowerCase().replace(/[^a-z0-9]/gmi, '_') +"--"+ this.agg.key.toLowerCase().replace(/[^a-z0-9]/gmi, '_')
      },
      show(){
        if(this.agg.show == 'no'){
            return false;
        }else{

          if(this.agg.doc_count > 0){
            return true;
          }
        }
         return false;
      },
      val(){
        if(this.agg.to){
             return  { 
              "value" : this.agg.key , 
              "key": this.name,
              "range": { 
                    "gte": Number(this.agg.from+'.0000000'),
                    "lte": Number(this.agg.to+'.0000000')
            }
          };
        }else{
          return {value:this.agg.key, key:this.name};
        }
      }
    }
  };
</script>

<style>

 .wssearch--checkbox{
      display:grid;
      grid-template-columns: auto 1fr;
      grid-gap:.5em;
      align-items: center;
 }
 .wssearch--checkbox-count{
   margin-left:.5em;
 }
  .wssearch--checkbox-count:after {
      content: ")";
  }

  .wssearch--checkbox-count:before {
      content: "(";
  }

  .wssearch--checkbox-input-checkbox:checked + .wssearch--checkbox-input-icon{
      background-color:var(--base-color);
      border-color:var(--base-color);
      background-size: 1em 1em;
  }
  .wssearch--checkbox-input-checkbox:hover + .wssearch--checkbox-input-icon {
    border-color: var(--base-color-lighter);
  }
  .wssearch--checkbox-input-checkbox:focus + .wssearch--checkbox-input-icon {
    border-color:var(--base-color);
    box-shadow: inset 0 0 0 1px var(--base-color);
    outline: 1px solid transparent;
}
  .wssearch--checkbox-input-checkbox:checked:hover + .wssearch--checkbox-input-icon{
    background-color:  var(--base-color-lighter);
    border-color:  var(--base-color-lighter);
}
  .wssearch--checkbox-input-checkbox:checked:focus + .wssearch--checkbox-input-icon{
    background-color: var(--base-color);
    border-color: var(--base-color);
    box-shadow: inset 0 0 0 1px var(--base-color), inset 0 0 0 2px #fff;
  }

  .wssearch--checkbox-input-icon{
    cursor: pointer;
    -webkit-transition: background-color 100ms, border-color 100ms, box-shadow 100ms;
    -moz-transition: background-color 100ms, border-color 100ms, box-shadow 100ms;
    transition: background-color 100ms, border-color 100ms, box-shadow 100ms;
    background-color: #fff;
    background-size: 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 1.42857143em;
    height: 1.42857143em;
    border-color: #72777d;
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    background-position: center center;
    background-repeat: no-repeat;
}

.wssearch--checkbox-input{
  position: relative;
}

.wssearch--checkbox-input-icon{
 background-image: linear-gradient(transparent,transparent),var(--check-icon);
}



</style>
