<template>
       <div
          :class="'wssearch--filter wssearch--filter__' + name.toLowerCase()"
        >
          <span 
            class="wssearch--filter-header" 
            v-if="strippedbuckets.length" 
          >
            <label>
              {{cleanname}}
            </label>
          </span>
          <div
           class="wssearch--filter-options"
          >
            <facet-checbox
              v-for="(agg, i) in bucketstoshow"
              :agg="agg"
              :key="i+agg.key+name"
              :index="i"
              :name="name"
            ></facet-checbox>
            <label
              class="wssearch--filter-showmore"
              v-if="strippedbuckets.length > collapsed"
              @click="open = !open"
            >
              <span 
               
              >
                {{ $i18n( 'wssearch-' +lessormore ) }}
              </span>
              <span 
                class="wssearch--filter-showmore-icon"
                :class="'wssearch--filter-icon__'+lessormore" 
              >
              </span>
            </label>
          </div>
        </div>
</template>

<script>
import FacetCheckbox from './FacetCheckbox'

export default {
  components:{
    'facet-checbox':FacetCheckbox
  },
  props:{
    name:String,
    label:String,
    buckets:[Array, Object]
  },
  data(){
    return {
      open:false,
      collapsed:5
    }
  },
  computed:{
    cleanname(){

      if(this.label){
        return this.label;
      }
      return this.name.replace(/_/g, " ");
    },
    convertedbucket(){
      
      if(Array.isArray(this.buckets)){
        return this.buckets;
      }else{

          var keys = [];

						for (var number in this.buckets) {
                var as = this.buckets[number];
                as.key = number;
                keys.push(as);
						}
        return keys;
      }

    },
    strippedbuckets(){
      return this. convertedbucket.filter(el => el.doc_count > 0)      
    },
    lessormore(){
      return this.open ? 'less' : 'more'
    },
    bucketstoshow(){
      return this.open ? this.strippedbuckets : this.strippedbuckets.slice(0, this.collapsed)
    }
  }
}
</script>

<style >
  .wssearch--filter-showmore {
      display: block;
      width: 100%;
      height: auto;
      cursor:pointer;
      background-color:var(--tint-1);
      border:var(--border-1);
      -webkit-transition: background-color 100ms,color 100ms,border-color 100ms,box-shadow 100ms;
      -moz-transition: background-color 100ms,color 100ms,border-color 100ms,box-shadow 100ms;
      transition: background-color 100ms,color 100ms,border-color 100ms,box-shadow 100ms;
      display: inline-flex;
      justify-content: center;
      border-radius:2px;
      font-weight: bold;

  }
  .wssearch--filter-showmore:hover {
      border-color:var(--base-color);
      background-color:white;
      color:var(--base-color);
  
  }
   .wssearch--filter-showmore:focus, .wssearch--filter-showmore:active{
     border-color: var(--base-color);
    box-shadow: inset 0 0 0 1px var(--base-color), inset 0 0 0 2px #fff;
    outline: 1px solid transparent;
   }
  

  .wssearch--filter-showmore-icon{
   
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    width:1em;
    margin-left:1em;
  }
  .wssearch--filter-icon__more{
         background-image:var(--down-icon);
  }
    .wssearch--filter-icon__less{
             background-image:var(--up-icon);
  }
</style>
