<template>
  <div class="wssearch--hit" >
    <span
        class="wssearch--hit__link"
    >
        <a
          :href="href"
          v-html="title"
        >
          
        </a>
    </span>
    <img
      v-if="img"
      loading="lazy"
      class="wssearch--hit__img"
      :src="img"
    />
    <span
      class="wssearch--hit__body"
      v-html="exerpt"
    >
    </span>
    <hit-prop
      v-for="(hitID, name) in hitIDs"
       :key="hitID.key"
       :keyid="hitID.key"
       :name="name"
       :type="hitID"
       :hit="hit"
    >
    </hit-prop>
    <span
      class="wssearch--hit__namespace"
      v-if="namepacename"
    >  
      {{namepacename}}
    </span>
    <span
      class="wssearch--hit__pagetitle"
    >
      {{hit._source.subject.title}}
    </span>
    <span
      class="wssearch--hit__date"
    >
      {{date.day}} {{$i18n( date.month )}}, {{date.year}}
    </span>
  </div>
</template>

<script>
import HitProp from './HitProp.vue'

  export default {
    components:{
      'hit-prop': HitProp
    },
    props:{
      hit:Object
    },
    data(){
      return {
         monthnames: ["jan","feb","mar","apr","may","jun","jul","aug","sep", "oct","nov","dec"],
        // eslint-disable-next-line no-undef
         hitIDs:mw.config.values.WSSearchFront.config.hitSettings,
         // eslint-disable-next-line no-undef
         hitTitleID:mw.config.values.WSSearchFront.config.settings.title
      }
    },
    methods:{
            highlightTitle(prop){
              var term = this.$store.state.term;
              if(term && this.hitTitleID.highlight){
                   var reg = new RegExp(term, 'gmi');
                  return prop.replace(reg, '<b class="wssearch-term-highlight">'+term+'</b>');
              }
              return prop;
            }
    },
    computed:{
      namepacename(){
          // eslint-disable-next-line no-undef
          if(mw.config.values.wgFormattedNamespaces){
             // eslint-disable-next-line no-undef
            return  mw.config.values.wgFormattedNamespaces[this.hit._source.subject.namespace]
          }
          return '';
      },
      title(){
        if( this.hitTitleID && this.hitTitleID.key && this.hit._source["P:" + this.hitTitleID.key] && this.hit._source["P:" + this.hitTitleID.key][this.hitTitleID.type]){
          return this.highlightTitle(this.hit._source["P:" + this.hitTitleID.key][this.hitTitleID.type][0])
        }else{
          return this.highlightTitle(this.hit._source.subject.title)
        }
      },
      img(){
        if(this.hit._source.file_path){
          if(this.hit._source.attachment && this.hit._source.attachment.content_type == "application/pdf"){
            return '/img_auth.php/thumb/'+ this.hit._source.subject.title.replace(/\s/g, "_") +'/page1-300px-'+ this.hit._source.subject.title.replace(/\s/g, "_") +'.jpg';
          }else{
            return this.hit._source.file_path;
          }
        }
        return '';
      },
      date(){
        if(this.hit._source["P:29"]){
          var unsplit = this.hit._source["P:29"].dat_raw[0];
          var rawz = unsplit.split("/");
          return {
            month:this.monthnames[rawz[2] - 1],
            day:rawz[3],
            year:rawz[1]
          };
        }else{
          return {
          month:"",
          day:"",
          year:""
        };
        }
      },
      exerpt(){
        if(this.hit.highlight){
          if(this.hit.highlight['text_raw']){
            return this.hit.highlight['text_raw'][0];
          }else if(this.hit.highlight['attachment.content']){
            return this.hit.highlight['attachment.content'][0];
          }
        }
        return '';
      },
      href(){
        if(this.hit._source.file_path){
          if(this.$store.state.term){
           // eslint-disable-next-line no-undef
           return mw.config.values.wgScript +  "/Pdf_viewer?pdf=" + this.hit._source.subject.title + '&snippet=' + this.$store.state.term;
          }else{
            // eslint-disable-next-line no-undef
            return mw.config.values.wgScript +  "/Pdf_viewer?pdf=" + this.hit._source.subject.title;
          }

        }
        if(this.hit._source.subject.namespacename){
          // eslint-disable-next-line no-undef
          return mw.config.values.wgScript +  "/" + this.hit._source.subject.namespacename + ":" + this.hit._source.subject.title;
        }else{
          // eslint-disable-next-line no-undef
          return mw.config.values.wgScript +  "/" + this.hit._source.subject.title;
        }
      }
    }
  }
</script>

<style>
.wssearch--hit__link, .wssearch--hit__body {
    display: block;
}
.wssearch--hit__link a{
  text-decoration: none;
  color:var(--base-color);
  font-size: 1.1em;
     -webkit-transition: background-color 100ms,color 100ms,border-color 100ms,box-shadow 100ms;
    -moz-transition: background-color 100ms,color 100ms,border-color 100ms,box-shadow 100ms;
    transition: background-color 100ms,color 100ms,border-color 100ms,box-shadow 100ms;
}
.wssearch--hit__link a:hover{
  color:var(--base-color-lighter);
  text-decoration: underline;
}
.wssearch--hits {
    display: grid;
    grid-gap: 1.5em;
    grid-auto-rows: max-content;
   
}
.wssearch--hit__link{
   font-weight: bold;
}
.wssearch--hit__link .wssearch-term-highlight {
    letter-spacing: 1px;
    text-shadow: 1px 0 0 currentColor,1px 0 0 currentColor,1px 0 0 currentColor;
}
.wssearch--hit__date, .wssearch--hit__namespace, .wssearch--hit__pagetitle{
  color:#1c8d1b;
}
</style>
