<template>
    <div  class="wssearch--pagers"
          v-if="total > size"
    >
        <span 
          class="wssearch--pager wssearch--pager-back"
          :class="showback"
          @click="back"
          
        >
         <span class="wssearch--pager-back-icon">
            
          </span>
        </span>
        <span
          @click="move"
          class="wssearch--pager"
          :class="activepage(1)"
        >
           <span >
            1
          </span>
        </span>
        <span 
          class="wssearch--pager wssearch--dots"
          :class="showback"
          v-show="from / size > 2"
        >
         ...
        </span>
        <span
          v-for="(pager, index) in pagers"
          :key="index"
          @click="move"
          class="wssearch--pager"
          :class="activepage(pager)"
        >
           <span >
            {{pager}}
          </span>
        </span>
        <span 
          class="wssearch--pager wssearch--dots"
          v-show="from / size < last - 3 "
         
        >
         ...
        </span>
        <span
          @click="move"
          class="wssearch--pager"
          :class="activepage(last)"
        >
           <span >
            {{last}}
          </span>
        </span>

        <span 
          class="wssearch--pager wssearch--pager-forward"
          :class="showforward"
          @click="next"
        >
           <span class="wssearch--pager-forward-icon">
            
          </span>
        </span>
      </div>
</template>

<script>
  export default {
    props:{
      total:Number,
      from:Number,
      size:Number
    },
    methods:{
        activepage(pager){
       if(pager == (this.from / this.size) + 1){
        return 'active';
       }
       return false
      },
      back(){
        var from = this.from - this.size;
        this.$store.commit('SET_FROM', from)
      },
      move(e){
        var from = Math.ceil(this.size * (e.target.innerText - 1));
        this.$store.commit('SET_FROM', from)
      },
      next(){
        var from = this.from + this.size;
        this.$store.commit('SET_FROM', from)
      }
    },
    computed:{
      last(){
        return Math.ceil(this.total / this.size);
      },
      showback(){
        return this.from < 1 ? 'wssearch--pager-hide' : ''
      },
      showforward(){
        return this.from + this.size >=  this.total ? 'wssearch--pager-hide' : ''
      },
      pagers(){
        if(this.total >= this.size){
          var pages = [];
          var i;
          var step = Math.ceil(this.total / this.size);

          if(step > 5 ){
            if((this.from / this.size) < 3){          
              for (i = 1; i < 4; i++) {
                    pages.push(i + 1)
              }
            }else{
              if((this.from / this.size) > this.last - 4){
                for (i = this.last - 4; i < this.last; i++) {
                    pages.push(i)            
                }
              }else{
                pages.push((this.from / this.size))
                pages.push((this.from / this.size) + 1)
                pages.push((this.from / this.size) + 2)
              }
            }
            return pages;
          }
          for (i = 0; i < step; i++) {
            if(i + 1 > 1 && i + 1 < this.last){
              pages.push(i + 1)
            }
          }
          return pages;
        }
        return false
      }
    }
  }
</script>

<style>
.wssearch--pagers {
  justify-self: end;
  margin-top:1.5em;
}
.wssearch--pagers .wssearch--pager {
   -webkit-transition: background-color 100ms,color 100ms,border-color 100ms,box-shadow 100ms;
    -moz-transition: background-color 100ms,color 100ms,border-color 100ms,box-shadow 100ms;
    transition: background-color 100ms,color 100ms,border-color 100ms,box-shadow 100ms;
  cursor: pointer;
  width: 2em;
  display: inline-flex;
  justify-content: center;
  border-radius:2px;

}
.wssearch--pagers .wssearch--pager:hover {
  background-color:var(--base-color-lighter);
  color:white;
}
.wssearch--pagers .wssearch--pager.active {
  font-weight: bold;
  color:white;
  background-color:var(--base-color);
}
.wssearch--pagers .wssearch--pager-back{
 
   color:transparent;
   
}
.wssearch--pagers .wssearch--pager-back-icon, .wssearch--pagers .wssearch--pager-forward-icon{
   background-size: contain;
   background-position: center center;
   background-repeat: no-repeat;
   width: 60%;
}
.wssearch--pagers .wssearch--pager-back-icon{
    background-image:var(--back-icon);

}
.wssearch--pagers .wssearch--pager-forward-icon{
    background-image:var(--next-icon);

}
.wssearch--pagers .wssearch--pager-back:hover, .wssearch--pagers .wssearch--pager-forward:hover{
  color:transparent;
  background-color:var(--tint-1);
}
.wssearch--pager-back-icon:after, .wssearch--pager-forward-icon:after {
    content: "z";
    color: transparent;
}
.wssearch--pagers .wssearch--pager-hide, .wssearch--pagers .wssearch--pager-hide .wssearch--pager-forward-icon, .wssearch--pagers .wssearch--pager-hide .wssearch--pager-back-icon{
   background-image: none;
  pointer-events: none;
  color:white;
}
.wssearch--pagers .wssearch--dots{
  pointer-events: none;
}
</style>