<template>
     <span
        :class="propertclass"
        v-html="innerhtml"
      >
      </span>
</template>

<script>

  export default {
     props:{
      keyid:Number,
      type:Object,
      hit:Object,
      name:String
    },
    data(){
      return {
         innerhtml:'<div class="wssearch-hit-prop-loading"><div class="wssearch-hit-prop-loading-bg"></div></div>',
         // eslint-disable-next-line no-undef
        settings: mw.config.values.WSSearchFront.config.settings,
      }
    },
    mounted(){
        this.computeResultProp()
    },
    watch: {
    resultPrintout() {
      this.computeResultProp()
    }
    },
    methods:{
      computeResultProp(){
        var that = this;
        if(this.type.display == "template"){
            that.innerhtml = '<div class="wssearch-hit-prop-loading"><div class="wssearch-hit-prop-loading-bg"></div></div>';
            var params = {
                action: 'parse',
                text: '{{' + this.type.template + 
                        '|Page=' + this.nsname + this.hit._source.subject.title + 
                        '|Value='+ this.justthevalue +
                        '}}',
                format: 'json',
                wrapoutputclass:'wssearch--parsed-prop-output',
                disablelimitreport :true
            };
            // eslint-disable-next-line no-undef
            var api = new mw.Api();
            api.post(params).done(data => {
                console.log(data)
                  if(data.parse){
                     that.innerhtml =  data.parse.text['*'];
                  }
               
            });
        }else{
            that.innerhtml =  this.resultPrintout;
        }
      },
      escapeName(name){
        return name.toLowerCase().replace(/[^a-z0-9]/gmi, '_');
      },
      highlightProp(prop){
              var term = this.$store.state.term;
              if(term && this.type.highlight){
                   var reg = new RegExp(term, 'gmi');
                  prop =  prop.replace(reg, '<b class="wssearch-term-highlight">'+term+'</b>');
              }

              if(this.type.label && this.settings.layout != 'table'){
                  prop = this.type.label + prop;
              }


              return prop;
            }
    },
     computed:{
            justthevalue(){
               var propval;
                if(this.hit._source["P:" + this.keyid ] && this.hit._source["P:" + this.keyid ][this.type.type]){
                   propval = this.hit._source["P:" + this.keyid ][this.type.type];
                 }

                if(propval){
                  return propval.join(',');
                }
                return "";
            },
            resultPrintout(){
               var propval;
               var out = '';
                var that = this;

                 if(this.hit._source["P:" + this.keyid ] && this.hit._source["P:" + this.keyid ][this.type.type]){
                   propval = this.hit._source["P:" + this.keyid ][this.type.type];
                 }

                if(propval){
                    
                    var outputs = {
                      'pill':() => {
                          propval.forEach(element => {
                            var forkey = that.escapeName(that.name) + '--' + that.escapeName(element);

                            out += '<label for="'+forkey+'" class="wssearch--hit-pill" >'+ that.highlightProp(element) + '</label>';
                          });
                      },
                      'link':() => {
                           propval.forEach(element => {
                              var linktitle = element.split(':');
                              linktitle =  linktitle.length <= 1 ? element :  linktitle[1];
                              // eslint-disable-next-line no-undef
                              out += '<a  href="'+ mw.config.values.wgScript + '/' + element + '" >'+ that.highlightProp(linktitle) +'</a>';
                           });
                      },
                      'image':() => {
                            propval.forEach(element => {
                     
                                 out += '<img loading="lazy" src="'+ element.replace(/\s/gmi, '_') + '" >';
                             });
                      },
                      'template':() => {
                        out = "";
                      },
                      'default':() => {
                          propval.forEach(element => {
                  
                             out += '<span >'+ that.highlightProp(element) + '</span>';
                           });
                      }


                    };

                    (outputs[this.type.display] || outputs['default'])();

                    
               }


                   return out;
                 
              },
              propertclass(){
                  var strppedname = 'wssearch--hit__property-' +  this.escapeName(this.name);
                  return   strppedname + '  ' + strppedname + '--' +   this.escapeName(this.resultPrintout); 
              },
              nsname(){
               
                 return this.hit._source.subject.namespacename ? this.hit._source.subject.namespacename + ':'  : ''
               
              }
          }
  }
</script>

<style>
@-webkit-keyframes MOVE-BG {
0% {
    background-position: -1.42857143em 0;
}

100% {
    background-position: 0 0;
}
}

@keyframes MOVE-BG {
0% {
    background-position: -1.42857143em 0;
}

100% {
    background-position: 0 0;
}
}


.wssearch-hit-prop-loading {
    border-radius: 23px;
    height: 1em;
    display: inline-block;
    position: relative;
    overflow: hidden;
    min-width: 8em;
}

.wssearch-hit-prop-loading-bg{
    position: absolute;
    left: -46px;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
	
  background: -webkit-linear-gradient(
135deg
, #fff 25%, transparent 25%, transparent 50%, #fff 50%, #fff 75%, transparent 75%, transparent)
;
  background: linear-gradient(
135deg
, #fff 25%, transparent 25%, transparent 50%, #fff 50%, #fff 75%, transparent 75%, transparent);
    background-color: #eaecf0;
    background-size: 1.42857143em 1.42857143em;
    -webkit-animation-name: MOVE-BG;
	-webkit-animation-duration: .6s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	
    animation-name: MOVE-BG;
	animation-duration: .6s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}


   .wssearch--hit-pill {
        -webkit-transition: background-color 100ms,color 100ms,border-color 100ms,box-shadow 100ms;
        -moz-transition: background-color 100ms,color 100ms,border-color 100ms,box-shadow 100ms;
        transition: background-color 100ms,color 100ms,border-color 100ms,box-shadow 100ms;
        background-color:white;
        padding: 0 .5em 0 .5em;
        display: inline-block;
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 0.92857143em;
        cursor: pointer;
        position: relative;
        white-space: nowrap;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: auto;
        max-width: 100%;
        height: 1.57142857em;
        margin: 0 4px 4px 0;
        border: var(--border-1);
        border-radius: 1.57142857em;
        line-height: 1.42857143em;
        vertical-align: middle;
   }


</style>
