<template>
    <div class="wssearch--selected">
      <pill-item
        v-for="(activefilter, index) in selected"
        :key="index"
        :activefilter="activefilter"
      ></pill-item>
      <span
        class="wssearch--selected-clear"
        v-if="selected.length"
        @click="clearfilters"
        tabindex="-1"
        aria-label="Clear"
        role="button"
      >
        {{ $i18n( 'clear-all-filters' ) }}
      </span>
    </div>
</template>

<script>
import PillItem from './PillItem.vue'

  export default {
    components:{
      'pill-item': PillItem
    },
    computed:
      {
        selected(){
          return this.$store.state.selected
        }
      }
    ,
    methods:{
        clearfilters(){
           // eslint-disable-next-line no-undef
           if(mw.config.values.WSSearchFront.config.settings.clear){
             this.$store.commit('SET_TERM', "")
             this.$store.commit('SET_SELECTED', [])
           }else{
             this.$store.commit('SET_SELECTED', [])
           }
        }
    }
  }
</script>

<style>
   .wssearch--selected {
        grid-area: selected;
    }
   .wssearch--selected-clear{
        white-space: nowrap;
        cursor: pointer;
        color: var(--base-color);
        border:1px solid transparent;
        padding: 6px 6px;
   }
</style>
