<template>
    <div
      class="wssearch--search"
      aria-disabled="false"
    >
      <div
       class="wssearch--search-wrapper"
      >
      <input
        type="text"
        :placeholder="$i18n( 'search' )"
        class="wssearch--search-input"
        @keyup.enter="search"
        v-model="term"
        tabindex="0"
        aria-disabled="false"
      />
      <span
        class="wssearch--search-icon"
      >
      </span>
      <span
        v-if="term"
        class="wssearch--search-clear"
        tabindex="-1"
        aria-label="Clear"
        role="button"
        @click="clearTerm"
      >
      </span>
      </div>
        <span
        class="wssearch--search-button"
        aria-label="Search"
        @click="search"
        role="button"
         tabindex="1"
         aria-disabled="false"
      >
        {{$i18n( 'search' )}}
      </span>
    </div>
</template>

<script>
  export default {
    computed:{
      term:{
       set(value){
          this.termclear =  value;
          this.userhastyped = true;
        },
        get(){
           if(this.termclear || this.userhastyped){
             return this.termclear;
           }
           return this.$store.state.term
        }
       
      }
    },
    data(){
      return {
        termclear:"",
        userhastyped:false
      }
    },
    methods:{
        search(){
           this.$store.commit('SET_TERM', this.termclear);

        },
        clearTerm(){
           this.termclear =  "";
           this.$store.commit('SET_TERM', "");
        }
      
    }
  }
</script>

<style>
.wssearch--search{
    grid-area: search;
  display:flex;
   
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  }
  .wssearch--search-wrapper{
     position: relative;
     width: 100%;
  }
.wssearch--search-input, .wssearch--filter-options-search{
    box-sizing: border-box;
    cursor: text;
    box-shadow: inset 0 0 0 1px transparent;
    -webkit-transition: border-color 250ms,box-shadow 250ms;
    -moz-transition: border-color 250ms,box-shadow 250ms;
    transition: border-color 250ms,box-shadow 250ms;
    background-color: #fff;
    color: #000;
    margin: 0;
    border: 1px solid #a2a9b1;
    border-radius: 2px;
    padding: .4em .6em .4em 2.2em;
    font-size: inherit;
    font-family: inherit;
    line-height: 1.42857143em;
    width: 100%;
  }
  .wssearch--search-input{
      border-radius: 2px 0 0 2px;
      border-right:none;
  }
  .wssearch--search-input:hover, .wssearch--filter-options-search:hover {
    border-color:#72777d;
  }
  .wssearch--search-input:focus, .wssearch--filter-options-search:focus {
    outline: 0;
    border-color: var(--base-color);
    box-shadow: inset 0 0 0 1px var(--base-color);
  }

.wssearch--filter-options-search:focus {
      border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
  .wssearch--search-icon{
    left:.5em;
    cursor: text;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    min-width: 20px;
    width: 1.42857143em;
    min-height: 20px;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    opacity: 0.87;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    vertical-align: middle;
    background-image: linear-gradient(transparent,transparent),var(--search-icon);
  }
    .wssearch--search-clear{
      cursor: pointer;
      max-height: 2.28571429em;
     margin-right: 0.71428571em;
     opacity: 0.87;
     background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right:0;
    min-width: 12px;
    width: 0.85714286em;
    min-height: 12px;
    height: 100%;
    background-image:var(--clear-icon) ;

   }
   .wssearch--search-clear:focus{
      border:none;
      outline:none;
   }
   .wssearch--search-button{
      cursor: pointer;
      border: 1px solid var(--base-color);
      background-color: var(--base-color);
      border-radius: 0 2px 2px 0;
      color:white;
      line-height: 1.42857143em;
      font-weight: bold;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 12px;
    padding-right: 12px;
    vertical-align: top;
    text-align: center;
      -webkit-transition: background-color 100ms,color 100ms,border-color 100ms,box-shadow 100ms;
    -moz-transition: background-color 100ms,color 100ms,border-color 100ms,box-shadow 100ms;
    transition: background-color 100ms,color 100ms,border-color 100ms,box-shadow 100ms;

   }

   .wssearch--search-button:hover{
     background-color:var(--base-color-lighter);
     border-color:var(--base-color-lighter);
   }
  
    .wssearch--search-button:focus{
     border-color: var(--base-color);
    box-shadow: inset 0 0 0 1px var(--base-color), inset 0 0 0 2px #fff;
    outline: 1px solid transparent;
   }
     .wssearch--search-button:active{
     color: #fff;
    background-color: var(--base-color-darker);
    border-color: var(--base-color-darker);
    box-shadow: none;
    outline:none;
   }

</style>