<template>
  <div id="app">
    <div 
      class="wssearch"
      :class="selectedclasses"
      
    >
      <search-input


      ></search-input>
      <selected-pils
   

      ></selected-pils>
      <div 
        v-if="aggs" 
        class="wssearch--filters"
      >
        <date-range
          v-if="showdatepicker"
          :label="datepickerlabel"

         ></date-range>
          <component 
            :is="filtertypeconfig.includes(name) ? FacetCombobox : FacetFilter"
            v-for="(name, index) in aggstoshow"
            :key="index"
            :buckets="aggs[name].buckets"
            :label="facetSettings[name].label"
            :name="name"
          ></component>
           <ask-combobox
             v-if="false"
              :name="'Title'"
              :label="'some label'"
              :query="{
                       ask:'[[Class::+]]',
                       data: 'Title',
                       text: 'Class'
                      }"
          ></ask-combobox>
      </div>
      <div
        class="wssearch--total"
        >
        <b 
          v-if="total > 0"
          class="wssearch--total__nr"
          >
          {{total}}
        </b>{{$i18n('search-total', total)}}
      </div>
      <div 
        class="wssearch--main" 
        :class="mainloading"
      >
          <div 
            class="wssearch--hits"
            :style="'--table-columns:'+ tableheaders.length"
          >
            <div
              class="wssearch--table__header"
              v-if="layout"
            >
              <span      
               v-for="(hitID, key) in tableheaders"
               :key="key"
              >
              {{hitID.name}}
              </span>
            </div>
            <hit-item
              v-for="(hit, i) in hits"
              :hit="hit"
              :key="i"
            ></hit-item>
          </div>
          <hit-pagers
            :size="size"
            :from="from"
            :total="total"
          ></hit-pagers>
      </div>
    </div>
  </div>
</template>

<script>
import store from './store.js'

import SearchInput from './components/SearchInput.vue'
import PillsSelected from './components/PillsSelected.vue'
import FacetDateRange from './components/FacetDateRange.vue'
import HitItem from './components/HitItem.vue'
import HitPagers from './components/HitPagers.vue'
import FacetCombobox from './components/FacetCombobox.vue'
import FacetAskCombobox from './components/FacetAskCombobox.vue'
import FacetFilter from './components/FacetFilter.vue'



export default {
  store: store,
  name: 'App',
  components: {
    'search-input':SearchInput,
    'selected-pils': PillsSelected,
    'date-range': FacetDateRange,
    'hit-item': HitItem,
    'hit-pagers': HitPagers,
    'ask-combobox': FacetAskCombobox
  },
  mounted(){
     this.$store.commit('START', true)
  },
  data(){
    return {
      FacetCombobox: FacetCombobox,
      FacetFilter: FacetFilter,
       // eslint-disable-next-line no-undef
      facetSettings: mw.config.values.WSSearchFront.config.facetSettings,
      // eslint-disable-next-line no-undef
      hitSettings: mw.config.values.WSSearchFront.config.hitSettings,
      // eslint-disable-next-line no-undef
      settings: mw.config.values.WSSearchFront.config.settings,
      showdatepicker: false,
      datepickerlabel: ""
    }
  },
  computed:{
    selectedclasses(){
      var out = "";
      var selected = this.$store.state.selected;
      selected.forEach(el => {

        out += "wss-selected--"     
        out += el.key.toLowerCase().replace(/[^a-z0-9]/gmi, '_');
        out += "--"
        out += el.value.toLowerCase().replace(/[^a-z0-9]/gmi, '_');
        out += "  "

      });
      return out;
    },
    tableheaders(){
      var pagelabel = this.settings.title.label;
      if(!pagelabel){
          pagelabel = 'Page'
      }
      var headers = [{name:pagelabel}, {name:'Content'} ];
     var that = this;
      Object.keys(this.hitSettings).forEach(function(key){
        console.log(key)
          if(that.hitSettings[key].label){
               headers.push({name:that.hitSettings[key].label })
            }else{
               headers.push({name:key})
            }
          
         
      })
      headers.push({name:'Page title'},{name:'Modification date'})
      return headers;
    },
    layout(){
      if(this.settings.layout && this.settings.layout == "table"){
        return true;
      }
      return false;
    },
    aggstoshow(){

      var out = {};
      var that = this;
      Object.keys(that.facetSettings).forEach(function(key){

        if(that.aggs[key]){

                  out[key] = that.aggs[key]
        }
        

      })

    //  console.log(out);
      return Object.keys(out);
    },
    filtertypeconfig(){
      var that = this;
      var comboxes = [];
       Object.keys(that.facetSettings).forEach(function(key){

           if(that.facetSettings[key].display == "combobox"){
              comboxes.push(key)
           }

             if(that.facetSettings[key].display == "datepicker"){
              that.showdatepicker = true;
              that.datepickerlabel = that.facetSettings[key].label;
           }

       })
      return comboxes;
    },
    mainloading(){
      var layout = "";
      if(this.layout){
        layout = "wssearch--table"
      }
      if(this.$store.state.loading){
        return 'wssearch--main__loading ' + layout;
      }
      return layout;
    },
    hits(){
       return this.$store.state.hits
    },
    aggs(){
      return this.$store.state.aggs
    },
    total(){
      return this.$store.state.total
    },
    from(){
      return this.$store.state.from
    },
    size(){
       return this.$store.state.size
    }    
  }
};
</script>

<style>
.wssearch--filters {
  grid-area: filters;

    display: grid;
    grid-auto-rows: max-content;
    grid-gap: 1.5em;
}
  .wssearch--filter {
    position: relative;

  }
  .wssearch--total {
    grid-area: total;
    color:#54595d;
    justify-self: end;
    margin-right: 1em;
}
/* layout */
.wssearch {
  display: grid;
  grid-template-columns: 20ch 1fr;
  grid-template-rows:    auto
                         minmax(2em, auto)
                         auto
                         1fr;
  grid-template-areas:'search search'
                      'selected selected'
                      'filters total'
                      'filters main';
  grid-gap: .5em 2em;
}

.wssearch--main {
  grid-area: main;
  transition: filter .2s ease-in-out;
}
.wssearch--main__loading{
  filter: blur(1px);
}

.wssearch--filter-header{
  font-weight: bold;
}
#app{
    font-size: 0.875em;
    font-size: calc(1em * 0.875);
    line-height: 1.6;
    font-family: sans-serif;
}

/*vars*/
:root{
  --table-columns:5;
  --base-color:hsl(220, 60%, 50%);
  --base-color-lighter:hsl(220, 90%, 61%);
  --base-color-darker:hsl(220, 54%, 36%);
  --tint-1:hsl(210, 17%, 98%);
  --border-1:1px solid hsl(212, 9%, 66%);
  --star-size:1.5em;

  /*icons*/
  --search-icon:url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3Esearch%3C/title%3E%3Cpath d=%22M7.5 13c3.04 0 5.5-2.46 5.5-5.5S10.54 2 7.5 2 2 4.46 2 7.5 4.46 13 7.5 13zm4.55.46A7.432 7.432 0 017.5 15C3.36 15 0 11.64 0 7.5S3.36 0 7.5 0C11.64 0 15 3.36 15 7.5c0 1.71-.57 3.29-1.54 4.55l6.49 6.49-1.41 1.41-6.49-6.49z%22/%3E%3C/svg%3E');
  --clear-icon:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' aria-hidden='true'%3E%3C!----%3E%3Cg fill='%23000'%3E%3Cpath d='M10 0a10 10 0 1010 10A10 10 0 0010 0zm5.66 14.24l-1.41 1.41L10 11.41l-4.24 4.25-1.42-1.42L8.59 10 4.34 5.76l1.42-1.42L10 8.59l4.24-4.24 1.41 1.41L11.41 10z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  --check-icon:url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3Echeck%3C/title%3E%3Cg fill=%22%23fff%22%3E%3Cpath d=%22M7 14.17L2.83 10l-1.41 1.41L7 17 19 5l-1.41-1.42z%22/%3E%3C/g%3E%3C/svg%3E');
  --next-icon:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Ctitle%3E next %3C/title%3E%3Cpath d='M7 1L5.6 2.5 13 10l-7.4 7.5L7 19l9-9z'/%3E%3C/svg%3E");
  --back-icon:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Ctitle%3E previous %3C/title%3E%3Cpath d='M4 10l9 9 1.4-1.5L7 10l7.4-7.5L13 1z'/%3E%3C/svg%3E");
  --down-icon:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Ctitle%3E down %3C/title%3E%3Cpath d='M10.085 2.943L6.05 6.803l-3.947-3.86L1.05 3.996l5 5 5-5z'/%3E%3C/svg%3E");
  --up-icon:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Ctitle%3E up %3C/title%3E%3Cpath d='M10.035 9.026L6 5.168 2.053 9.026 1 7.974l5-5 5 5z'/%3E%3C/svg%3E");
  }

.wssearch--table .wssearch--hits {
    background-color: #a2a9b1;
    padding: 1px;
    grid-gap: 1px;
}


.wssearch--table .wssearch--hit, .wssearch--table__header {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(var(--table-columns),calc((100 / var(--table-columns)) * 1%));
    overflow: hidden;
}

.wssearch--table .wssearch--hit > *{
    background-color: #f8f9fa;
    padding:.4em .6em;
    overflow-wrap: break-word;
}
 .wssearch--table__header > * {
  background-color: #eaecf0;
  padding:.4em .6em;
  font-weight: bold;
  overflow-wrap: break-word;
}


</style>
